{% load static%}
<script src="{% static 'js/crypto-js.min.js'%}"></script>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/fernetBrowser.js'%}"></script>
<script src="{% static 'js/jsencrypt.min.js'%}"></script>
<script src="{% static 'js/mycrypto.js'%}"></script>
<script src="{% static 'js/win.auth.js'%}"></script>
<script src="{% static 'js/cookie.js'%}"></script>
<script src="{% static 'js/x509.bundle.js'%}"></script>
<script src="{% static 'js/jsckey.bundle.js'%}"></script>