{% extends 'base.html'%}

{% block content %}
<!--    <h1>hello {{user}} !</h1>-->
    {% if notfound %}
        <h2>{{notfound}}</h2>
    {%else%}
        <div class="card" style="width: 18rem;">
        <img src="{{username.avater_url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{username.name}}</h5>
        <p class="card-text">location: {{username.location}}</p>
          <p class="card-text">repos: {{username.public_repos}}</p>
          <p class="card-text">gists: {{username.public_gists}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    {%endif%}
{% endblock %}
